{% extends 'template.html' %}
{% block title %}Timesheet{% endblock %}
{% block content %}

<h1>Timesheet Form</h1>
    <form method="post" action="/sheet" enctype="multipart/form-data" >
        <p>{{ form.date.label }} {{ form.date() }}</p>
        <p>{{ form.hour.label }} {{ form.hour(min='1', max='24') }}</p>
        <p>{{ form.temp1.label }} {{ form.temp1() }}</p>
        <p>{{ form.temp2.label }} {{ form.temp2() }}</p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

