{% extends 'template.html' %}
{% block title %}Timesheet{% endblock %}
{% block content %}

<h1>Timesheet Form</h1>
    <form method="post" action="/sheet" enctype="multipart/form-data" >
        <p>{{ form.date.label }} {{ form.date() }}</p>
        <p>{{ form.startHour.label }} {{ form.startHour() }}</p>
        <p>{{ form.endHour.label }} {{ form.endHour() }}</p>
        <p>{{ form.role.label }} {{ form.role() }}</p>
        <p>{{ form.client.label }} {{ form.client() }}</p>
        <p>{{ form.submit()}}</p>
    </form>
{% endblock %}

